<h2>Створення списку</h2>

<form id="my-form" method="post" action="/Home/AddList">
    <label for="name">Назва:</label>
    <input type="text" id="name" name="name"><br><br>

    <input type="submit" value="Створити">
</form>
