<h2>Створення списку</h2>  <! -- АНГЛІЙСЬКОЮ ПАЗЯЗЯ, ЗАОДНО РУКА НАВЧИТЬСЯ ПИСАТИ БЕЗ ПОмИЛОК -->

<form id="my-form" method="post" action="/Home/AddList">
    <label for="name">Назва:</label>
    <input class="form-control" type="text" id="name" name="name" placeholder="ListName"><br />
    <br />
    <input class="btn btn-light" type="submit" value="Створити">
    <br />
    <br />
</form>
