@using MySecondProjectWEB.Views.ViewHelpsModel;
@using List_Domain.Exeptions;
@model ContentStorageModel;

<h2>Видалення завдання</h2>

<form method="post" id="my-form" action="/Home/DeleteTask">

    <label for="name">Список:</label>
    <select name="taskId">

        @foreach (var task in Model._toDoTasks)
        {
            <option value="@task.Id">@task.Title</option>
        }
    </select>
    <p>
        <input type="submit" value="Видалити" />
    </p>

</form>
